body {
  margin: 0;
  padding: 0;
}

.test {
  background-color: #0077ff;
  position: absolute;
  width: 1000px;
  height: 300px;
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  bottom: 64px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.container button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: none;
  border: none;
}

.container button:not(:first-child) {
  margin-left: 16px;
}
